.box{
	width: 100%;
	height: auto;
	background-color: #000;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	/* 满屏效果可以用定位来实现 */
	background-image: url('../img/waimaibeijing.png');
	/* 引入背景图片 */
	background-size: 100% auto;
}
header{
	width: 100%;
	height: .88rem;
	padding: 0 .24rem;
	overflow: hidden;
}
.head-back{
	width: .48rem;
	height: .48rem;
	background-color: #f37822;
	margin-top: .21rem;
	float: left;
	border-radius: 50%;
	box-shadow: 0 8px 8px -8px #e36914;
}
.head-back img{
	width: .35rem;
	height: .35rem;
	margin: 0 auto;
	margin-top: .07rem;
}
.head-right{
	width: 1.1rem;
	height: .54rem;
	background-color: #f37822;
	float: right;
	/* 但凡依次横排的都给它加浮动 */
	margin-top: .185rem;
	margin-right: .14rem;
	border-radius: .9rem;
	display: block;
}
.head-right span{
	font-size: .28rem;
	display: block;
	line-height: .54rem;
	text-align: center;
	color: #fff;
	font-weight: 700;
}
#login{
	width: 6.33rem;
	height: 4.77rem;
	background-color: #fff;
	margin: 0 auto;
	margin-top: 1.6rem;
	border-radius: .1rem;
	padding-top: .79rem;
	position: relative;
}
.touxiang{
	width: 1.55rem;
	height: 1.55rem;
	border-radius: 50%;
	margin: 0 auto;
	margin-top: .32rem;
	border: .03rem solid #fff;
}
.xuanxiang{
	width: 4.96rem;
	height: .25rem;
	position: absolute;
	margin-left: .685rem;
	margin-top: -1.2rem;
	display:block;
}
.xuanxiang input{
	display:block;
	float: left;
}
.xuanxiang-right{
	float: right;
}
.xuanxiang span{
	font-size: .28rem;
	display:block;
	float: left;
	color: #fff;
	margin-left: .12rem;
	margin-top: -.09rem;
	font-weight: 600;
}
.uesr-box{
	width: 4.88rem;
	height: .93rem;
	/* background-color: #000; */
	margin: 0 auto;
	margin-bottom: .64rem;
}
.user-top{
	width: 100%;
	height: .3rem;
	display:block;
}
.user-top .iconfont{
	display:block;
	color: #f37822;
	float: left;
	font-weight: 600;
}
.user-top .iconfont span{
	font-size: .28rem;
	margin-left: .18rem;
	font-weight: 600;
}
.user-bottom{
	width: 100%;
	height: .63rem;
	/* background-color: yellowgreen;  */
	display:block;
}
.userNAME{
	display:block;
	width: 100%;
	height: 100%;
}
.pass{
	display:block;
	width: 100%;
	height: 100%;
}
.denglu{
	width: 3rem;
	height: .71rem;
	background-color: #f37822;
	position: absolute;
	margin-left: 1.63rem;
	margin-top: .46rem;
	border-radius: .9rem;
	display:block;
}
.denglu span{
	font-size: .3rem;
	color: #fff;
	display:block;
	line-height: .71rem;
	text-align: center;
	font-weight: 600;
}